@model MovieRentalApp_ASP.NET_MVC_ver2.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details View</h2>

<p>customer's id = @Model.Id</p>
<p>customer's name = @Model.Name</p>



