@model MovieRentalApp_ASP.NET_MVC_ver2.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Details ViewDetails</h2>
<p>movie's id = @Model.Id</p>
<p>movie's name = @Model.Name</p>
