@model IEnumerable<MovieRentalApp_ASP.NET_MVC_ver2.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Page for Movies</h2>
@if (!Model.Any())
{
    <p>We don't have any movies yet.</p>
}
else
{
    <table id ="movies" class="table-bordered table-hover">
        <thead>
            <tr>
                <th>All Movies</th>
                <th>Genre</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@movie.Id + " : " + movie.Name, "Edit", "Movies", new { Id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                    <td>
                        <button class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p></p>

    using (Html.BeginForm("New", "Movies"))
    {
        <button class="btn btn-primary">Add new Movie</button>
    }

}

@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#movies .js-delete").on("click", function () {
                confirm("Are you sure you want delete this movie")
            });
        });
    </script>
  
    }


